<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 #=============================================================================#
 # Copyright (c) 2007-2014 Stephan Wahlbrink (WalWare.de) and others.
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 #=============================================================================#
-->

<plugin>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.walware.docmlet.tex.internal.core.TexCorePreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="net.sourceforge.texlipse.contentTypes.Latex"
            base-type="org.eclipse.core.runtime.text"
            default-charset="ISO-8859-1"
            file-extensions="tex,ltx,sty,cls"
            name="%contentTypes_Latex_name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            contentTypeId="net.sourceforge.texlipse.contentTypes.Latex"
            class="de.walware.docmlet.tex.core.source.LtxDocumentSetupParticipant">
      </participant>
   </extension>
   
   <extension
         point="de.walware.ecommons.ltk.modelTypes">
      <modelType
            id="ltx">
      </modelType>
      <unitType modelTypeId="ltx"
            contextKey="persistence.default"
            unitFactory="de.walware.docmlet.tex.internal.core.model.LtxSourceUnitFactory">
      </unitType>
   </extension>
   <extension
         point="de.walware.ecommons.ltk.modelAdapters">
      <adapterFactory
            modelTypeId="ltx"
            class="de.walware.docmlet.tex.internal.core.ModelAdapterFactory">
         <adapter
               type="de.walware.docmlet.tex.core.source.LtxHeuristicTokenScanner">
         </adapter>
      </adapterFactory>
   </extension>
   
   <extension
         point="org.eclipse.core.resources.natures"
         id="de.walware.docmlet.tex.natures.Tex"
         name="TeX (StatET)">
      <runtime>
         <run class="de.walware.docmlet.tex.internal.core.TexProject"/>
      </runtime>
      <builder
            id="de.walware.docmlet.tex.builders.Tex">
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.resources.builders"
         id="de.walware.docmlet.tex.builders.Tex"
         name="TeX Builder (StatET)">
      <builder
            hasNature="true">
         <run class="de.walware.docmlet.tex.internal.core.builder.TexProjectBuilder"/>
      </builder>
   </extension>
   
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="tex"
            type="text"/>
      <fileTypes
            extension="ltx"
            type="text"/>
      <fileTypes
            extension="sty"
            type="text"/>
      <fileTypes
            extension="cls"
            type="text"/>
      <fileTypes
            extension="bib"
            type="text"/>
   </extension>
   
</plugin>
