<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 #=============================================================================#
 # Copyright (c) 2007-2014 Stephan Wahlbrink (WalWare.de) and others.
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 #=============================================================================#
-->

<plugin>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.walware.docmlet.tex.internal.ui.TexUIPreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="de.walware.ecommons.ltk.modelTypes">
      <unitType modelTypeId="ltx"
            contextKey="editor.default"
            unitFactory="de.walware.docmlet.tex.internal.ui.LtxEditorWorkingCopyFactory">
      </unitType>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.project"
            defaultHandler="de.walware.docmlet.tex.internal.ui.ConvertToTexProjectHandler"
            id="de.walware.docmlet.tex.commands.ConvertToTexProject"
            name="Convert to TeX Projects (StatET)">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?endof=additions">
         <command
               commandId="de.walware.docmlet.tex.commands.ConvertToTexProject"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.open">
                        </test>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="de.walware.docmlet.tex.natures.Tex">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="de.walware.docmlet.tex.editors.Ltx"
            name="%editors_Latex_name"
            class="de.walware.docmlet.tex.internal.ui.editors.LtxEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false">
         <contentTypeBinding
               contentTypeId="net.sourceforge.texlipse.contentTypes.Latex">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="de.walware.docmlet.tex.contexts.TexEditor"
            parentId="de.walware.ecommons.text.contexts.TextEditor"
            name="%contexts_TexEditing_name">
      </context>
   </extension>
   
   <extension
         point="de.walware.ecommons.ltk.advancedContentAssist">
      <category
            id="templates"
            name="%contentAssist_TemplateCategory_name">
      </category>
      <category
            id="tex-elements"
            name="%contentAssist_TexCategory_name">
      </category>
      <computer
            id="de.walware.docmlet.tex.contentAssist.TexTemplatesCompletion"
            contentTypeId="de.walware.docmlet.tex.contentTypes.Ltx"
            categoryId="templates"
            class="de.walware.docmlet.tex.internal.ui.editors.LtxEditorTemplatesCompletionComputer">
         <partition
               partitionType="ltx.default">
         </partition>
         <partition
               partitionType="ltx.math">
         </partition>
      </computer>
      <computer
            id="de.walware.docmlet.tex.contentAssist.TexTextElementsCompletion"
            contentTypeId="de.walware.docmlet.tex.contentTypes.Ltx"
            categoryId="tex-elements"
            class="de.walware.docmlet.tex.internal.ui.editors.LtxElementsCompletionComputer$Default">
         <partition
               partitionType="ltx.default">
         </partition>
      </computer>
      <computer
            id="de.walware.docmlet.tex.contentAssist.TexMathElementsCompletion"
            contentTypeId="de.walware.docmlet.tex.contentTypes.Ltx"
            categoryId="tex-elements"
            class="de.walware.docmlet.tex.internal.ui.editors.LtxElementsCompletionComputer$Math">
         <partition
               partitionType="ltx.math">
         </partition>
      </computer>
      <computer
            id="de.walware.docmlet.tex.contentAssist.TexPathCompletion"
            contentTypeId="de.walware.docmlet.tex.contentTypes.Ltx"
            categoryId="paths"
            class="de.walware.docmlet.tex.internal.ui.editors.TexPathCompletionComputer">
         <partition
               partitionType="ltx.default">
         </partition>
      </computer>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextTypeRegistry
            id="de.walware.docmlet.tex.templates.LtxEditor">
      </contextTypeRegistry>
      <contextType
            id="de.walware.docmlet.tex.templates.LtxEditorDefaultContextType"
            registryId="de.walware.docmlet.tex.templates.LtxEditor"
            name="%templates_TexEditorDefaultContextType_name"
            class="de.walware.docmlet.tex.internal.ui.editors.LtxEditorContextType">
      </contextType>
      <contextType
            id="de.walware.docmlet.tex.templates.LtxEditorMathContextType"
            registryId="de.walware.docmlet.tex.templates.LtxEditor"
            name="%templates_TexEditorMathContextType_name"
            class="de.walware.docmlet.tex.internal.ui.editors.LtxEditorContextType">
      </contextType>
      <include
            file="templates/default-ltxeditor-templates.xml"
            translations="templates/default-ltxeditor-templates.properties">
      </include>
   </extension>
   
      <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="de.walware.docmlet.tex.editorHyperlinks.TexEditorTarget"
            name="%editorHyperlinks_TexEditorTarget_name">
         <context
               type="de.walware.ecommons.ltk.ui.sourceediting.SourceEditor1">
         </context>
      </target>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <!--hyperlinkDetector
            id="de.walware.docmlet.tex.editorHyperlinks.FileDetector"
            targetId="de.walware.docmlet.tex.editorHyperlinks.TexEditorTarget"
            name="%editorHyperlinks_FileDetector_name"
            class="de.walware.statet.r.internal.ui.editors.RFileHyperlinkDetector"
            activate="true">
      </hyperlinkDetector -->
      <hyperlinkDetector
            id="de.walware.docmlet.tex.editorHyperlinks.TexElementDetector"
            targetId="de.walware.docmlet.tex.editorHyperlinks.TexEditorTarget"
            name="%editorHyperlinks_TexElement_name"
            class="de.walware.docmlet.tex.internal.ui.editors.TexElementHyperlinkDetector"
            activate="true">
      </hyperlinkDetector>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.walware.docmlet.base.commands.EditDocsCategory"
            name="%commandsCategory_EditDocs_name"
            description="%commandsCategory_EditDocs_description">
      </category>
      <command
            id="de.walware.docmlet.tex.commands.ProcessTexDefault"
            categoryId="de.walware.docmlet.base.commands.EditDocsCategory"
            name="%commands_ProcessTex_name"
            description="%commands_ProcessTex_description">
      </command>
      <command
            id="de.walware.docmlet.base.commands.ProcessDocDefault"
            categoryId="de.walware.docmlet.base.commands.EditDocsCategory"
            name="%commands_ProcessDocument_name"
            description="%commands_ProcessDocument_description">
      </command>
      <command
            id="de.walware.docmlet.base.commands.PreviewDocDefault"
            categoryId="de.walware.docmlet.base.commands.EditDocsCategory"
            name="%commands_PreviewDocument_name"
            description="%commands_PreviewDocument_description">
      </command>
      <command
            id="de.walware.docmlet.base.commands.ProcessAndPreviewDefault"
            categoryId="de.walware.docmlet.base.commands.EditDocsCategory"
            name="%commands_ProcessAndPreview_name"
            description="%commands_ProcessAndPreview_description">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="de.walware.docmlet.base.commands.ProcessDocDefault"
            icon="icons/tool_16/process.png">
      </image>
      <image
            commandId="de.walware.docmlet.base.commands.PreviewDocDefault"
            icon="icons/tool_16/preview.png">
      </image>
      <image
            commandId="de.walware.docmlet.base.commands.ProcessAndPreviewDefault"
            icon="icons/tool_16/process_and_preview.png">
      </image>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.jdt.ui.edit.text.java.toggleMarkOccurrences"
            class="de.walware.docmlet.tex.internal.ui.editors.TexToggleMarkOccurrencesHandler">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="de.walware.docmlet.tex.editors.Ltx">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.ui.edit.text.folding.toggle"
            class="de.walware.docmlet.tex.ui.actions.TexToggleFoldingHandler">
         <activeWhen>
            <with variable="activePartId">
               <equals
                     value="de.walware.docmlet.tex.editors.Ltx">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.jdt.ui.edit.text.java.open.editor"
            class="de.walware.docmlet.tex.ui.sourceediting.LtxOpenDeclarationHandler">
         <activeWhen>
            <with variable="activePartId">
               <equals
                     value="de.walware.docmlet.tex.editors.Ltx">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.walware.docmlet.tex.commands.ProcessTexDefault"
            contextId="de.walware.docmlet.tex.contexts.TexEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T 3">
      </key>
      <key
            commandId="de.walware.docmlet.base.commands.PreviewDocDefault"
            contextId="de.walware.docmlet.tex.contexts.TexEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T 4">
      </key>
      <key
            commandId="de.walware.docmlet.base.commands.ProcessDocDefault"
            contextId="de.walware.docmlet.tex.contexts.TexEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T 9">
      </key>
      <key
            commandId="de.walware.docmlet.base.commands.ProcessAndPreviewDefault"
            contextId="de.walware.docmlet.tex.contexts.TexEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T 0">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=de.walware.statet.base.menus.MainStatSource"
            allPopups="false">
         <menu
               id="tex.symbols"
               label="%menus_Symbols_label">
            <separator
                  name="symbols">
            </separator>
            <dynamic
                  id="de.walware.docmlet.tex.menus.TexSymbolsContributions"
                  class="de.walware.docmlet.tex.internal.ui.editors.LtxSymbolsMenuContributions">
            </dynamic>
            <separator
                  name="additions">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <instanceof
                        value="de.walware.docmlet.tex.ui.editors.ILtxEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:navigate?after=open.ext">
         <command
               commandId="org.eclipse.ui.edit.text.open.hyperlink"
               mnemonic="%menus_Navigate_OpenHyperlink_mnemonic"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with variable="activePartId">
                  <equals
                        value="de.walware.docmlet.tex.ui.editors.ILtxEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="de.walware.docmlet.tex.preferencePages.Tex"
            class="de.walware.docmlet.tex.internal.ui.preferences.TexBasePreferencePage"
            name="%preferencePages_Tex_name">
      </page>
      <page
            id="de.walware.docmlet.tex.preferencePages.TexCodeStyle"
            category="de.walware.docmlet.tex.preferencePages.Tex"
            name="%preferencePages_TexCodeStyle_name"
            class="de.walware.docmlet.tex.internal.ui.preferences.TexCodeStylePreferencePage">
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceAppearance"/>
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceFormatting"/>
      </page>
      <page
            id="de.walware.docmlet.tex.preferencePages.LtxCommand"
            category="de.walware.docmlet.tex.preferencePages.Tex"
            name="%preferencePages_LtxCommands_name"
            class="de.walware.docmlet.tex.internal.ui.preferences.LtxCommandsPreferencePage">
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceContentAssist"/>
      </page>
      <page
            id="de.walware.docmlet.tex.preferencePages.TexEditor"
            category="de.walware.docmlet.tex.preferencePages.Tex"
            name="%preferencePages_TexEditor_name"
            class="de.walware.docmlet.tex.internal.ui.preferences.TexEditorPreferencePage">
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceEditor"/>
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceAppearance"/>
         <keywordReference id="de.walware.ecommons.ltk.keywords.AutoBracket"/>
         <keywordReference id="de.walware.ecommons.ltk.keywords.AutoIndent"/>
         <keywordReference id="de.walware.ecommons.ltk.keywords.AutoWrap"/>
      </page>
      <page
            id="de.walware.docmlet.tex.preferencePages.LtxTextStyles"
            category="de.walware.docmlet.tex.preferencePages.Tex"
            name="%preferencePages_LtxTextStyles_name"
            class="de.walware.docmlet.tex.internal.ui.preferences.LtxTextStylesPreferencePage">
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceEditor"/>
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceAppearance"/>
      </page>
      <page
            id="de.walware.docmlet.tex.preferencePages.LtxEditorTemplates"
            category="de.walware.docmlet.tex.preferencePages.Tex"
            name="%preferencePages_LtxEditorTemplates_name"
            class="de.walware.docmlet.tex.internal.ui.preferences.LtxEditorTemplatesPreferencePage">
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceEditor"/>
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceTemplates"/>
      </page>
      <page
            id="de.walware.docmlet.tex.preferencePages.LtxEditorAdvancedContentAssist"
            category="de.walware.docmlet.tex.preferencePages.Tex"
            name="%preferencePages_TexEditorAdvancedContentAssist_name"
            class="de.walware.docmlet.tex.internal.ui.preferences.LtxAdvancedContentAssistConfigurationPage">
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceEditor"/>
         <keywordReference id="de.walware.ecommons.ltk.keywords.SourceContentAssist"/>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.compare.contentViewers">
      <viewer
            id="de.walware.docmlet.tex.compare.LtxViewer"
            class="de.walware.docmlet.tex.internal.ui.editors.LtxContentViewerCreator">
      </viewer>
      <contentTypeBinding
            contentViewerId="de.walware.docmlet.tex.compare.LtxViewer"
            contentTypeId="net.sourceforge.texlipse.contentTypes.Latex">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            id="de.walware.docmlet.tex.compare.LtxMergeViewer"
            class="de.walware.docmlet.tex.internal.ui.editors.LtxMergeViewerCreator">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="de.walware.docmlet.tex.compare.LtxMergeViewer"
            contentTypeId="net.sourceforge.texlipse.contentTypes.Latex">
      </contentTypeBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
         name="de.walware.docmlet.tex.ui.error"
         super="org.eclipse.ui.workbench.texteditor.error"
         markerSeverity="2">
      </type>
      <type
         name="de.walware.docmlet.tex.ui.warning"
         super="org.eclipse.ui.workbench.texteditor.warning"
         markerSeverity="1">
      </type>
      <type
         name="de.walware.docmlet.tex.ui.info"
         super="org.eclipse.ui.workbench.texteditor.info"
         markerSeverity="0">
      </type>
   </extension>
   
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            id="de.walware.docmlet.themes.SectionColor"
            isEditable="false"
            label=""
            value="159,151,47">
      </colorDefinition>
      
      <theme
            id="org.eclipse.ui.ide.systemDefault">
         <colorOverride
               id="de.walware.docmlet.themes.SectionColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
      </theme>
   </extension>
   
</plugin>
